<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DutyFree</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DutyFree.styles.css" asp-append-version="true"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-lg">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://media.discordapp.net/attachments/1107599847562952794/1108283610026483774/blogic-logo.png?width=2160&height=376" alt="blogic| DutyFree-logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a asp-area="" asp-controller="Products" asp-action="Index" class="nav-link">Produkty</a>
                    <a asp-area="" asp-controller="Administration" asp-action="ProductsViewAdmin" class="nav-link">Správa produktů</a>
                    <a asp-area="" asp-controller="Administration" asp-action="OrderViewAdmin" class="nav-link">Historie objednávek</a>
                    <a asp-area="" asp-controller="Administration" asp-action="UserViewAdmin" class="nav-link">Uživatelský profil</a>
                    <a asp-area="" asp-controller="MyOrders" asp-action="MyOrder" class="nav-link">Moje objednávky</a>
                </div>
            </div>
        </div>
    </nav>
<div class="container-fluid" style="padding: 0">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer text-white bg-black">
    <div class="container">
        &copy; 2023 - <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white">DutyFree</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>