
@model DutyFree.Models.AdminViewModel


@{
    ViewBag.Title = "Admin - Historie objednávek";
    Layout = "_Layout";
}

<section class="hero2">
    <h1 class="display-4 text-white text-center"><strong>Historie objednávek</strong></h1>
</section>


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Jméno</th>
                <th scope="col">Datum a čas</th>
                <th scope="col">Produkt</th>
                <th scope="col">Množství</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="#">Mark</a></td>
                <td>18.  5. 2023</td>
                <td>Pepsi</td>
                <td>2 ks</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="#">Jacob</a></td>
                <td>18.  5. 2023</td>
                <td>Pepsi</td>
                <td>1 ks</td>
            </tr>
        </tbody>
    </table>
</div>
   

<!--Příprava na propojení s databází-->
@*<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Jméno</th>
                <th scope="col">Datum a čas</th>
                <th scope="col">Produkt</th>
                <th scope="col">Množství</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="id">@user.UserId</td>
                    <td class="tdName"><a href="#">@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<style>
    ::selection {
        background-color: #FF4401;
        color: white;
    }

    .container {
        margin-top: 2%;
    }

    .hero2 {
            background-image: url('https://media.discordapp.net/attachments/1107599847562952794/1107974604867244072/photo-login.png?width=1600&height=842');
            background-size: cover;
            background-position: center;
            border-bottom: 6px solid #FF4401;
            width: 100%;
            height: 30vh;
        }
        
   h1
   {
        padding-top: 7%;
    }
    
</style>

