@{
    ViewData["Title"] = "Moje objednávky";
}


<section class="hero2">
    <div class="container">
        <h1 class="display-4 text-white text-center"><strong>Moje objednávky</strong></h1>
    </div>
</section>




<div class="container">
    <section class="dates">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="datumOd">Datum (od)</label>
                    <input type="date" id="datumOd" name="datumOd" class="form-control" lang="cs">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="datumDo">Datum (do)</label>
                    <input type="date" id="datumDo" name="datumDo" class="form-control" lang="cs">
                </div>
            </div>
        </div>
    </section>

    <div class="col-md-6">
        <div class="form-group">
            <button type="button" id="filterButton" class="btn btn-primary">Filtrovat</button>
            <button type="button" id="resetButton" class="btn btn-secondary">Obnovit</button>
        </div>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Čas</th>
                <th>Produkt</th>
                <th>Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>17.05.2023</td>
                <td>10:30</td>
                <td>Produkt A</td>
                <td>100 Kč</td>
                <td>
                    <span class="cancel-icon" onclick="cancelOrder(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16" cursor="pointer">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </td>
            </tr>
            <tr>
                <td>03.05.2023</td>
                <td>10:45</td>
                <td>Produkt B</td>
                <td>150 Kč</td>
                <td>
                    <span class="cancel-icon" onclick="cancelOrder(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16" cursor="pointer">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </td>
            </tr>
            <tr>
                <td>05.05.2023</td>
                <td>14:15</td>
                <td>Produkt C</td>
                <td>200 Kč</td>
                <td>
                    <span class="cancel-icon" onclick="cancelOrder(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16" cursor="pointer">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-left"><strong>Cena celkem:</strong></td>
                <td id="celkovaCena"><strong>0 Kč</strong></td>
            </tr>
        </tfoot>
    </table>
</div>


<script>
    // Zrušení objednávky
    function cancelOrder(element) {
        var row = element.parentNode.parentNode;
        row.parentNode.removeChild(row);
        updateTotalPrice();
    }

    // Aktualizace celkové ceny
    function updateTotalPrice() {
        var table = document.querySelector(".table");
        var rows = table.querySelectorAll("tbody tr");
        var totalPrice = 0;

        rows.forEach(function (row) {
            var priceCell = row.querySelector("td:nth-child(4)");
            var price = parseFloat(priceCell.innerText);
            totalPrice += price;
        });

        var totalCell = document.getElementById("celkovaCena");
        totalCell.innerHTML = "<strong>" + totalPrice.toFixed(2) + " Kč</strong>";
    }

    window.onload = function () {
        // Defaultní nastavení prvního dne v měsíci
        var currentDate = new Date();
        currentDate.setDate(1);
        var firstDayOfMonth = currentDate.toISOString().slice(0, 10);

        document.getElementById("datumOd").value = firstDayOfMonth;

        // Defaultní nastavení aktuálního datumu
        var currentDate = new Date().toISOString().slice(0, 10);
        document.getElementById("datumDo").value = currentDate;

        // Validace datumu objednávky
        var tableRows = document.querySelectorAll(".table tbody tr");
        var twentyFourHoursAgo = new Date();
        twentyFourHoursAgo.setDate(twentyFourHoursAgo.getDate() - 1);

        tableRows.forEach(function (row) {
            var dateCell = row.querySelector("td:first-child");
            var orderDate = new Date(dateCell.innerText.split(".").reverse().join("-"));

            if (orderDate >= twentyFourHoursAgo) {
                var cancelIcon = row.querySelector(".cancel-icon");
                cancelIcon.style.display = "inline-block";
            } else {
                var cancelIcon = row.querySelector(".cancel-icon");
                cancelIcon.style.display = "none";
            }
        });

        updateTotalPrice();
    };



    // Propojení tlačítka Filter & Reset
    document.getElementById("filterButton").addEventListener("click", function () {
        filterOrders();
    });
    document.getElementById("resetButton").addEventListener("click", function () {
        resetOrders();
    });


    // Filtrování objednávek na základě časového rozmezí
    function filterOrders() {
        var fromDate = new Date(document.getElementById("datumOd").value);
        var toDate = new Date(document.getElementById("datumDo").value);

        var tableRows = document.querySelectorAll(".table tbody tr");

        tableRows.forEach(function (row) {
            var dateCell = row.querySelector("td:first-child");
            var orderDate = new Date(dateCell.innerText.split(".").reverse().join("-"));

            if (orderDate >= fromDate && orderDate <= toDate) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });

        updateTotalPrice();
    }


    // Resetování filtru
    function resetOrders() {
        var tableRows = document.querySelectorAll(".table tbody tr");

        tableRows.forEach(function (row) {
            row.style.display = "table-row";
        });

        updateTotalPrice();
        
        // Nastavení prvního dne v měsíci a aktuálního data
        var currentDate = new Date();
        currentDate.setDate(1);
        var firstDayOfMonth = currentDate.toISOString().slice(0, 10);

        document.getElementById("datumOd").value = firstDayOfMonth;


        var currentDate = new Date().toISOString().slice(0, 10);
        document.getElementById("datumDo").value = currentDate;
    }

</script>

<style>
    .hero2 {
        background-image: url('https://media.discordapp.net/attachments/1107599847562952794/1107974604867244072/photo-login.png?width=1600&height=842');
        background-size: cover;
        background-position: center;
        border-bottom: 6px solid #FF4401;
        width: 100%;
        height: 30vh;
    }

    h1 {
        padding-top: 9%;
    }

    .dates {
        margin-top: 20px;
    }
</style>
