@{
    ViewData["Title"] = "Moje objednávky";
}


<section class="hero2">
    <div class="container">
        <h1 class="display-4 text-white text-center"><strong>Moje objednávky</strong></h1>
    </div>
</section>




<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="datumOd">Datum (od)</label>
                    <input type="date" id="datumOd" name="datumOd" class="form-control" lang="cs">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="datumDo">Datum (do)</label>
                    <input type="date" id="datumDo" name="datumDo" class="form-control" lang="cs">
                </div>
            </div>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Čas</th>
                    <th>Produkt</th>
                    <th>Cena</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01.05.2023</td>
                    <td>15:30</td>
                    <td>Produkt A</td>
                    <td>100 Kč</td>
                    <td>
                        <span class="cancel-icon" onclick="cancelOrder(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16" cursor="pointer">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>03.05.2023</td>
                    <td>10:45</td>
                    <td>Produkt B</td>
                    <td>150 Kč</td>
                    <td>
                        <span class="cancel-icon" onclick="cancelOrder(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16" cursor="pointer">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>05.05.2023</td>
                    <td>14:15</td>
                    <td>Produkt C</td>
                    <td>200 Kč</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-left"><strong>Cena celkem:</strong></td>
                    <td><strong>450 Kč</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    function cancelOrder(element) {
        var row = element.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    window.onload = function () {
        var currentDate = new Date().toISOString().slice(0, 10);

        document.getElementById("datumDo").value = currentDate;
    };

</script>

<style>
    .hero2 {
        background-image: url('https://media.discordapp.net/attachments/1107599847562952794/1107920424869834812/strawberry-bg.jpg?width=1564&height=1042');
        background-size: cover;
        background-position: center;
        border-bottom: 6px solid #FF4401;
        width: 100%;
        height: 30vh;
    }

    h1 {
        padding-top: 10%;
    }
</style>