html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo img
{
  height: 35px;
}

.list
{
  color: white;
}

.logo
{
  color: white;
}

/* Styly pro navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.navbar-logo {
margin-left: 20%
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu .nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #FF4401;
    color: white;
}

.navbar-menu-item {
    margin-right: 20%;
}


.dropdown-menu {
  background-color: black;
}

.dropdown-content {
    background-color: black;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #FF4401;
}

@media only screen and (max-width: 600px) {
    .col-4 img{
        width: 50px;
        height: 50px;
        margin-top: 10%;
    }
    
    .col-8 h2{
        margin-top: 10%;
        font-size: 20px;
    }
    
    .col-8 h3{
        padding-top: 10%;
        font-size: 10px;
    }
}
