@model DutyFree.Models.AdminViewModel

@{
    ViewBag.Title = "Product admin panel";
    Layout = "_Layout";
}
<div class="container">


    <!--Add icon-->
    <div class="addIcon">
        <svg xmlns="http://www.w3.org/2000/svg" onclick="product_add()" cursor="pointer" width="35" height="35" fill="#FF4401" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </div>

    



    <table class="table">
        <thead>
        <tr>
            <th colspan="2" class="text-center">Produkt</th>
            <th>Obrázek</th>
            <th>Cena za ks</th>
            <th>Aktuální množství</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td colspan="2">@product.Name</td>
                <td><img src="obrazek1.jpg" alt="Obrázek 1"></td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

<script>
    function product_add() {
        const table = $('table tbody');
        table.prepend(
            '<tr>'
            + '<td class="name">'
            + '<input type="text" class="form-control" name="Name" />'
            + '</td>'
            + '<td class="image">'
            + '<input type="file" class="form-control" name="Image" />'
            + '</td>'
            + '<td class="price">'
            + '<input type="number" class="form-control" name="Price" />'
            + '</td>'
            + '<td class="quantity">'
            + '<input type="number" class="form-control" name="Quantity" />'
            + '</td>'
            + '<td class="buttons d-flex justify-content-between">'
            + '<svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25 fill="#FF4401" class="bi bi-wrench" viewBox="0 0 16 16">'
            + '<path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>'
            + '</svg>'
            + '<svg xmlns="http://www.w3.org/2000/svg" cursor="pointer" width="25" height="25" fill="#FF4401" class="bi bi-x" viewBox="0 0 16 16">'
            + '<path d = "M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />'
            + '</svg>'
            + '</td>'
            + '</tr>'
     );
}

</script>




<style>
    .addIcon {
        margin-top: 20px;
        margin-left: 93%;
    }

</style>